.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-9iym{font-weight:bold;font-size:20px;background-color:#dae8fc;border-color:#000000;text-align:left;vertical-align:top}
.tg .tg-e4hx{font-weight:bold;font-size:20px;background-color:#dae8fc;border-color:#343434;text-align:left;vertical-align:top}
.tg .tg-ur59{border-color:#343434;text-align:left;vertical-align:top}

.tf  {border-collapse:collapse;border-spacing:0;}
.tf td{font-family:Arial, sans-serif;font-size:14px;padding:10px 16px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tf th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 16px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tf-37dt{font-weight:bold;background-color:#dae8fc;border-color:#330001;text-align:left}
.tf .tf-p3ou{border-color:#330001;text-align:left}
